.site-carousel{
    margin-left: auto;
    margin-right: auto;
    margin-top:2px;
/* margin: 10px; */
/* width:85%; */
}
#hide-carousel-button{
    display: none;
}
#del-btn{
    /* display: inline; */
    color: white;
    background-color: black;
    padding:10px;
    border:1px solid white;
    /* display: none; */
}